#header {
  border-bottom: 1px solid #e94560;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #000;
  z-index: 10;
  .logo {
    width: 20%;
    text-align: center;
    font-size: 20px;

    .icon {
      vertical-align: -3px;
      color: #ea3323;
      margin-right: 4px;
      font-size: 22px;
    }
  }
  .search {
    width: 80%;
    padding: 10px 30px;
    position: relative;
    border-left: 1px solid #e94560;
    .glass {
      position: absolute;
      left: 43px;
      top: 22px;
      color: #757575;
    }
    input {
      background: #1c1c1c;
      width: 100%;
      border: 0;
      padding: 10px 20px 10px 40px;
    }
  }
}

@media (max-width: 800px) {
  #header {
    flex-direction: column;
    padding: 5px;

    .logo {
      padding-top: 5px;
      border-right: 0;
      width: 100%;
    }
    .search {
      width: 100%;
      border-left: none;
    }
  }
}
